.section__num1, .section__num2, .section__num3{
    height: 100vh;
    width: 100%;
}

.section__num1{
    background-color: red;
}

.section__num2{
    background-color: green;
}

.section__num3{
    background-color: blue;
}

#footer{
    background: purple;
    height: 50vh;
}